<% include navbar %>
<form action="/settings" method="post">
	<input type="password" name="password" placeholder="new password">
	<input type="text" name="name" placeholder="new name">
	<input type="submit" name="settingButton" value="Change settings">
</form>